{% for host in __dict_hosts %}
{%   if host.ansible_host == atom_replication_ansible_remote_server -%}
{{ host.ansible_host }}	ansible_connection=local ansible_ssh_user={{ host.ansible_ssh_username }}
{%   else -%}
{{ host.ansible_host }}	ansible_ssh_host={{ host.ansible_ssh_hostname }} ansible_host={{ host.ansible_ssh_hostname }} ansible_ssh_user={{ host.ansible_ssh_username }}
{%   endif %}
{% endfor %}
